
.green-deposit-content{
    margin-top: 0;  
    padding: 20px;
    width: 100%;
}
.green-deposit-title{
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
    margin-left: 0;
}

/* Custom DataTable Styling */
.custom-datatable.p-datatable {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
}
 
/* Table Header */
.custom-datatable .p-datatable-thead > tr > th {
    background-color: #004080; /* Darker Blue */
   
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding: 14px;
    font-size: 16px;
}
 
/* Table Body */
.custom-datatable .p-datatable-tbody > tr > td {
    padding: 14px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
 
/* Alternate Row Colors */
.custom-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f0f8ff; /* Light Blue */
}
 
/* Row Hover Effect */
.custom-datatable .p-datatable-tbody > tr:hover {
    background-color: #cce5ff; /* Light Sky Blue */
}
 
/* Pagination Styling */
.custom-datatable .p-paginator {
    padding: 12px;
    background-color: #e3e3e3;
    border-top: 1px solid #040504;
}
 
/* Customize Pagination Buttons */
.custom-datatable .p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 5px;
    margin: 2px;
}
 
.custom-datatable .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #fca400;
    color: white;
}
 
/* Ensure full width in responsive layout */
@media screen and (max-width: 768px) {
    .custom-datatable.p-datatable {
        width: 100%;
    }
}
 